altair
attrs
blinker
cachetools
certifi
charset-nomalizer
click
commonmark
decorator
entrypoints
filelock
fugashi
gitdb
GitPython
huggingface-hub
idna
importlib-metadata
ipadic
Jinja2
jsonschema
MarkupSafe
mecab-python3
numpy
packaging
pandas
pillow
pip
protobuf
pyarrow
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyYAML
regex
requests
rich
semver
sentencepiece
setuptools
six
smmap
streamlit
tokenizers
toml
toolz
torch
tornado
tqdm
transformers
typing_extensions
tzdata
tzlocal
urllib3
validators
zipp

